.home__container {
	width: 90%;
	margin: auto;
	padding-top: 80px;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	flex-wrap: wrap;
	background-color: var(--primary-color); 
	transition: background-color var(--transition-duration);
  }
